<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_logo">
                    <img src="img/logo.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer_link_col">
                    <h4>brodelhit</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Soba nosotros</a></li>
                        <li><a href="#">Praticipa</a></li>
                        <li><a href="#">Publica</a></li>
                    </ul>
                </div>
                <div class="footer_link_col">
                    <h4>Soporte</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Soba nosotros</a></li>
                        <li><a href="#">Praticipa</a></li>
                        <li><a href="#">Publica</a></li>
                    </ul>
                </div>

                <div class="footer_link_col">
                    <h4>Legal</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Soba nosotros</a></li>
                        <li><a href="#">Praticipa</a></li>
                        <li><a href="#">Publica</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_social_col">
                    <p>
                        <strong>Siguenos en las redes!</strong>
                        <ul class="list-unstyled list-inline">
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <strong>hola@brodelhit.com</strong>
                </div>
            </div>
        </div>
    </div>
</footer>