<nav class="navbar navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="search_form">
                    <form action="/">
                        <input type="text" name="search" placeholder="BUSCAR">
                        <input type="text" name="location" class="location_field" placeholder="Donde">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    <li class="header_icon"><a href="#"><i class="fa fa-bell"></i></a></li>
                    <li class="header_icon"><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li class="header_icon"><a href="/profile"><i class="fa fa-user"></i></a></li>
                    <li><a href="/logout">Cerrar sesión</a></li>
                    <li><a href="/upload-product">Empieza a vender</a></li>
                    {{else}}
                    <li><a href="#" data-toggle="modal" data-target="#login_register" id="acceder">Acceder</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#login_register" id="upload-product">Empieza a
                            vender</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>