<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Publica y participa en miles de sorteos</h1>
                <div class="table-responsive">
                    <ul class="list-inline list-unstyled">
                        <li><a class="text_icon" href="/"><span>All</span><br><strong>ALL</strong></a></li>
                        <li><a href="#"><span class="sport_fitnes"></span><br><strong>Sports & Fitness</strong></a></li>
                        <li><a href="#"><span class="fashion"></span><br><strong>Fashion</strong></a></li>
                        <li><a href="#"><span class="experience"></span><br><strong>Experiences</strong></a></li>
                        <li><a href="#"><span class="home_products"></span><br><strong>Home products</strong></a></li>
                        <li><a href="#"><span class="technology"></span><br><strong>Technology</strong></a></li>
                        <li><a class="text_icon" href="#"><span>Other</span><br><strong>Other</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">

    <div class="container">
        <div class="row">
            <h2>ALL</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            {{#each products}}
            <div class="col-md-3">
                <div class="product_box">
                    <img src="{{image.imageUrl}}" height="256px" width="224px">
                    <br><br>
                    <h3>{{title}}</h3>
                    <a href="/product/{{_id}}">Participar</a>
                </div>
            </div>
            {{/each}}

            <div class="col-lg-12"><a href="#" class="view_all_btn">Ver mas</a></div>

        </div>
    </div>

</section>